
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-dark: #0a0a0a;
  --accent-color: #38bdf8; /* Sleek Sky Blue */
  --text-main: #ffffff;
  --text-dim: rgba(255, 255, 255, 0.6);
  --glass-bg: rgba(255, 255, 255, 0.25);
  --glass-border: rgba(255, 255, 255, 0.1);
  --fillcolor: rgba(220, 220, 220, 0.53);
  --text-active:white;
  --bg-overlay: rgba(15, 23, 42, 0.8);
  --font-main: 'Inter', sans-serif;
  --text-blur:rgba(225, 225, 225, 0.3);

}

/* Default Styles */
body[data-theme="space"] {
  --bg-overlay: rgba(2, 5, 11, 0.45);
  --text-main: #c3cccc;
  --accent-color: #38bdf8;
  --font-main: 'Inter', sans-serif;
  --fillcolor: rgba(30, 41, 59, 0.7);
  --glass-border: #393c5a;
  --text-active: #cccaca;
  background-image: linear-gradient(var(--bg-overlay), var(--bg-overlay)), url('../img/space1.jpg');
}

body[data-theme="cyberpunk"] {
  --bg-overlay: rgba(20, 0, 40, 0.75);
  --text-main: #00ffcc;
  --accent-color: rgba(78, 70, 78, 0.74);
  --font-main: 'Orbitron', sans-serif;
  --fillcolor: rgba(0, 255, 204, 0.27);
  --glass-border: #00ffcc;
  --text-active: white;
  background-image: linear-gradient(var(--bg-overlay), var(--bg-overlay)), url('../img/cyberpunk.jpg');
}

body[data-theme="nordic"] {
  --bg-overlay: rgb(55 55 55 / 45%);
  --text-main: #e4e4e4;
  --accent-color: #857885;
  --font-main: "Oswald", serif; /*ribeye google font*/
  --fillcolor: rgba(66, 66, 66, 0.27);
  --glass-border: #acacac;
  --text-active: white !important;
  --text-blur: rgba(225, 225 ,225 , 0.30);
    background-image: linear-gradient(var(--bg-overlay), var(--bg-overlay)), url('../img/nordic.jpg');
}

body[data-theme="forestZen"] {
  --bg-overlay: rgba(26, 35, 26, 0.64);
  --text-main: #f0f4f0;
  --accent-color: #a3b18a;
  --font-main: 'Merriweather', serif;
  --fillcolor: rgba(38, 92, 40, 0.35);
  --glass-border: #acacac;
  --text-active: white !important;
  --text-blur: rgba(225, 225 ,225 , 0.30);
  background-image: linear-gradient(var(--bg-overlay), var(--bg-overlay)), url('../img/forest.jpg');


}

body, html {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-dark);
  color: var(--text-main);
  font-family: var(--font-main), sans-serif;
  overflow: hidden; /* Prevents scrolling */
}
body{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: linear-gradient(var(--bg-overlay), var(--bg-overlay)), url('../img/work.jpg');
  color: var(--text-main);
  font-family: var(--font-main), serif ;
  transition: background-image 1s ease, color 0.5s ease;
}
/* =========================================
    Main-layout
   ========================================= */
.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

/* Centering the Timer in the middle */
.timer-display-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#timer {
  font-size: 8rem;
  font-weight: 600;
  letter-spacing: -2px;
  font-variant-numeric: tabular-nums; /* Prevents numbers from jumping */
  text-shadow: 0 0 20px var(--text-blur);
}

/* Start/Reset Buttons in the middle */
.main-controls {
  display: flex;
  gap: 1.5rem;
}

.main-controls button {
  font-family: var(--font-main);
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid var(--glass-border);
}

#start {
  background-color: var(--text-main);
  color: var(--bg-dark);
}

#reset {
  background: transparent;
  color: var(--text-main);
}

#start:hover { transform: scale(1.05); }
#reset:hover { background: var(--glass-bg); }

/* =========================================
    (FOOTER)
   ========================================= */


.bottom-settings {
  display: flex;
  justify-content: space-between; /* Pushes left, center, and right blocks apart */
  align-items: center;
  padding: 0px 40px 40px 40px;
  width: 100%;
}

.footer-left, .footer-right {
  flex: 1;
}

.footer-right {
  display: flex;
  justify-content: flex-end; /* Pushes the theme button to the very edge */
}



/*.spacer, #theme-toggle {*/
/*  width: 150px;*/
/*}*/


.mode-buttons {
  display: flex;
  border: var(--glass-border) solid 1px;
  /*box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;*/
  border-radius: 20px;
  padding: 5px;
  gap: 1rem;

}


.mode-buttons button:hover{
  /*background-color: var(--fillcolor);*/
  border-radius: 20px;
  border: rgba(255, 255, 255, 0.37) solid 1px;
  box-shadow: rgb(139 139 139 / 62%) 0px 0px 8px 0px;
  /*transition: ease 0.5s;*/
}

.mode-buttons button {
  background: transparent;
  border: none;
  color: var(--text-dim);
  font-weight: 500;
  font-family: var(--font-main);
  cursor: pointer;
  padding: 0.80rem 1rem;
  transition: all 0.4s ease;
  font-size: 1.25rem;

}

.active{
  background-color: var(--fillcolor) !important;
  border-radius: 20px;
  border: rgba(255, 255, 255, 0.37) solid 1px !important;
  box-shadow: rgb(139 139 139 / 62%) 0px 0px 8px 0px;
  color: var(--text-active) !important;
  /*transition: ease 0.5s;*/
}


#theme-toggle {
  background: transparent;
  border: var(--glass-border) solid 1px;
  border-radius: 15px;
  color: var(--text-dim);
  font-weight: 500;
  cursor: pointer;
  padding: 0.80rem 1rem;
  transition: color 0.3s ease;
  font-size: 1.20rem;
}

.mode-buttons button:hover, #theme-toggle:hover {
  color: var(--text-main);
}

/* =========================================
   4. MODAL
   ========================================= */
#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(12px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.modal-content {
  background: #1a1a1a;
  padding: 3rem;
  border-radius: 24px;
  border: 1px solid var(--glass-border);
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.modal-content h3 {
  margin-bottom: 1rem;
}
.modal-content p{
  color: var(--text-dim);
}

/* Container for the three inputs to keep them in one row */
.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 25px 0;
}

.modal-content input {
  width: 70px;
  height: 50px;
  background: rgba(255, 255, 255, 0.05); /* Slightly lighter than modal bg */
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 12px;
  text-align: center;
  font-size: 1.2rem;
  outline: none;

}

/* Highlight the input when the user clicks it */
.modal-content input:focus {
  border-color: var(--accent-color);
  background: rgba(255, 255, 255, 0.1);
}

/* Remove the annoying up/down arrows on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modal-buttons button {
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  border: none;

}

#set-custom { background: var(--accent-color); color: white; }
#close-modal { background: #333; color: white; }

/*==============================================================*/
                        /*Theme */
/*==============================================================*/


.theme-options {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  justify-content: space-around;
  max-height: 200px;
  max-width: 262px;
  margin-top: 10px;
}

.theme-opt {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.2s;
}

.theme-opt:hover {
  transform: scale(1.2);
  border-color: var(--text-main);
}

.theme-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 5px;
}

.theme-label {
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--text-main);
}

.footer-right {
  position: relative; /* Anchor for the absolute popup */
}

.theme-popup {
  position: absolute;
  bottom: 80px;
  right: 0;
  background: var(--glass-bg, rgba(0,0,0,0.8));
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  z-index: 1000;
}

/* The  arrow pointing down to the button */
.theme-popup::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255,255,255,0.1);
}



.auto-flow-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.auto-flow-label {
  font-size: 0.9rem;
  color: var(--text-dim);
  font-weight: 500;
}

/*  the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hides default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(255,255,255,0.1);
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; width: 16px;
  left: 3px; bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--accent-color);
}

input:checked + .slider:before {
  transform: translateX(18px);
}